* {
  // 在移动端 有些元素手指按住会高亮一个颜色 为了消除这个颜色  设置了一个颜色 透明
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html,body,ul, dl, dd, dt, ol, p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}