body {
  background-color: #f5f5f5;
}
#menu {
  padding: 10px 20px 10px 10px;
  background-color: #fff;
  text-align: center;
}
#menu .row div {
  margin-top: 10px;
  padding-right: 5px;
}
#menu .row div a img {
  width: 50px;
}
#menu .row div a p {
  font-size: 12px;
}
#menu .row div:nth-last-child(-n+4) {
  display: none;
}
#recommend .recommend_title {
  background-color: #FF841D;
  padding-left: 10px;
  padding-right: 10px;
  height: 35px;
}
#recommend .recommend_title span {
  font-size: 14px;
  color: #fff;
  line-height: 35px;
}
#recommend .recommend_title img {
  float: right;
  width: 20px;
  margin-top: 7px;
}
#recommend .recommend_product {
  border-bottom: 1px solid #ccc;
}
#recommend .recommend_product .media {
  padding-bottom: 10px;
  padding: 10px;
}
#recommend .recommend_product .media .media-left a img {
  width: 100px;
  height: 100px;
}
#recommend .recommend_product .media .media-body .media-heading {
  min-height: 56px;
  line-height: 22px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
#recommend .recommend_product .media .media-body .media-heading span {
  color: #FF841D;
}
#recommend .recommend_product .media .media-body .other {
  color: #A4A1A9;
  font-size: 12px;
}
#recommend .recommend_product .media .media-body .other .other_talk {
  float: right;
}
#recommend .recommend_more {
  text-align: center;
  height: 30px;
  line-height: 30px;
  width: 100%;
  background-color: #F5F5F5;
  border: 1px solid #ddd;
}
#recommend .recommend_more a {
  display: block;
}
