<html>

<head>
    <meta charset="UTF-8">
    <title>1-欢迎来到注册页面</title>
</head>

<body ng-app="app" ng-controller="myc">

    <form ng-submit="doRegister()">
        用户名:<input type="text" name="username" ng-model="username">
        <br/> 密码:
        <input type="text" name="password" ng-model="password"> {{msg}}
        <br/>
        <input type="submit" name="" value="注册">
    </form>


    <script type="text/javascript" src="./assets/angular/angular.js"></script>
    <script type="text/javascript">
        var users = [{ username: 'tjx', password: 'tjx' }];
        var app = angular.module('app', []);

        app.controller('myc', function ($scope) {
            $scope.username = '';
            $scope.password = '';
            $scope.msg = '';
            // 初始化函数

            $scope.doRegister = function () {
                // alert('触发了提交函数');
                // 1：获取数据
                for (var i = 0; i < users.length; i++) {
                    if (users[i].username === $scope.username) {
                        $scope.msg = '用户已经存在';
                        return;
                    }
                }
                // 判断是否进入了if代码块，将用户数据加入到数组中；
                users.push({
                    username:$scope.username,
                    passwoed:$scope.password
                });
                $scope.msg = '恭喜您，注册成功';
            }
        })
    </script>

</body>

</html>