body {
  background-color: #f5f5f5;
}

// 头部start
.box_header{
  position: fixed;
  width: 100%;    
  z-index: 1;
}
#header{
    height: 50px;
    background-color: #FF841D;
    padding: 10px;
    .logo{
      img{
        height: 25px;
      }
    }
    .app{
      float: right;
      img{
        height: 34px;
      }
    }
}
// 头部end

// 搜索start
#search{
  // height: 50px;
  background-color: #FFFFFF;
  padding: 10px;
     form{
       position: relative;
       padding-right:70px; 
       input[type="search"]{
          width: 100%;
          height: 30px;
          padding-left: 15px;
          border-radius: 15px;
          border: 0;
          background-color: #f5f5f5; 
       }
       input[type="submit"]{
         position: absolute;
         top: 0;
         right: 0;
         width:63px;
         height:30px;
         background-color: #FF841D;
         border-radius: 15px;
         color: #fff;
         border: 0;
       }
    }
  
}
// 搜索end

// 菜单start
.box{
  height: 110px;
}
#menu{
  padding:10px 20px 10px 10px;
  // margin: 10px -10px 0 0 ;
  background-color: #fff;
  text-align: center;
  .row{
    div{
      margin-top: 10px;
      padding-right: 5px;
      a{
        img{
          width: 50px;
        }
        p{
          font-size:12px;
        }
      }
    }
    // 隐藏最后四个
    div:nth-last-child(-n+4){
      display: none;
    }
  }
}
// 菜单end

// 推荐标题stare
#recommend{
   .recommend_title{
     background-color: #FF841D;
     padding-left: 10px;
     padding-right: 10px;
     height: 35px;
     span{
       font-size: 14px;
       color: #fff;
       line-height: 35px;
     }
     img{
       float: right;
       width: 20px;
       margin-top: 7px;
     }
   }
}

// 推荐标题end

// 推荐产品start
#recommend{
   .recommend_product{
     border-bottom: 1px solid #ccc;
      .media{
      padding-bottom: 10px;
      padding: 10px;
      .media-left{
        a{
          img{
            width: 100px;
            height: 100px;
          }
        }
      }
      .media-body{
        .media-heading{
             // 最小高度
             min-height: 56px;
             line-height: 22px;
             font-size: 16px;
             overflow: hidden;// 超出的内容隐藏
             text-overflow: ellipsis;// 超出的内容显示冒号
             display:-webkit-box;
             -webkit-box-orient: vertical;
             -webkit-line-clamp:3;
             span{
             color: #FF841D;
             }
        }
        .other{
          color: #A4A1A9;
          font-size: 12px;
          .other_talk{
            float:right;
          }
        }
      }
    }
  }
  .recommend_more{
    text-align: center;
    height: 30px;
    line-height: 30px;
    width: 100%;
    background-color: #F5F5F5;
    border: 1px solid #ddd;
    a{
      display: block;
    }
  }
}

// 推荐产品end

// 公共样式 start
.recommend_title{
  height: 35px;
  line-height: 35px;
  background-color: #ff841d;
  padding: 0 10px;
  span{
    color: #fff;
    font-size: 14px;
  }
  img{
     float: right;
     width:20px;
     height: 20px;
     margin-top: 7px; 
  }
}

// 公共样式 end

// 底部 start
#footer{
  margin-top:10px;
  .login_box{
    height: 34px;
    line-height: 34px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #efefef;
    text-align: center;
    div{
      height: 34px;
      width: 30%;
      float: left;
      border-right: 1px solid #ccc;
    }
    .goTop{
      height: 34px;
      width: 40%;
      img{
        margin-top: -3px;
      }
    }
  }
  .info{
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    color:red;
  }
}
// 底部 end;





