<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="cardNum.html" />
                <add value="telVerification.html" />
                <add value="quotaQuery.html" />
                <add value="quotaQuery_details.html" />
                <add value="memberInfor_Next.html" />
                <add value="memberCenter.html" />
                <add value="inquiry.html" />
                <add value="index.html" />
                <add value="historicalRecord.html" />
                <add value="memberInformation.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
