table.grid-table {
	font-family: verdana,arial,sans-serif;
	font-size: 11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
    min-width: 600px;
}
table.grid-table th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.grid-table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
table.grid-table td a {
	text-decoration: none;
	margin: 4px;
}
table.grid-table tbody tr {
    text-align: center;
}
table.grid-table tbody tr:hover {
    background-color: #EDBF8B;
    color: hotpink;
}
table.grid-table tbody tr:hover td {
    background: none;
}