// 声明字体
$fontFamily:PingFangSC-Regular, Helvetica, "Droid Sans", Arial, sans-serif;
$baseFontSize:14px;
// 声明颜色
$primaryColor: #c93e26;
$white:#fff;
$black:#000;
$textColor:#666;
$orange:orange;
$lightWhite:#DCDCDC;
// 声明圆角
$baseRadius:5px;
$searchRadius:15px;
// 声明层级
$baseZIndex:100;
$highZindex:101;
$maxZindex:102;
// 声明 常见的距离
$blockCenter:0 auto;
$widthAll:100%;
