@import "setting";
@import "minxin";
@import "base";

/*容器*/
.jdm {
  width: $widthAll;
  margin: $blockCenter;
}

/*顶部*/
.search {
  width: $widthAll;
  height: 40px;
  background-color: $primaryColor;
  @include fixed();
  z-index: $highZindex;
  .logo {
    position: absolute;
    top: 10px;
    left: 8px;
    display: block;
    width: 56px;
    height: 21px;
    /*精灵图*/
    @include sprite();
    background-position: 0 -109px;
  }
  /*搜索框*/
  .search-box {
    width: $widthAll;
    height: 40px;
    padding-left: 75px;
    padding-right: 50px;
    @include boxSizing(); /*改变盒子计算宽度*/
    overflow: hidden;
    .icon-search {
      position: absolute;
      top: 10px;
      left: 80px;
      display: block;
      width: 20px;
      height: 30px;
      @include sprite();
      background-position: -60px -109px;
    }
    input {
      width: $widthAll;
      height: 30px;
      margin-top: 5px;
      @include Radius(15px);
      padding-left: 30px;
    }
  }
  .login {
    position: absolute;
    top: 10px;
    right: 8px;
    color: $white;
  }
}

/*内容*/
.main {
  width: $widthAll;
  padding-bottom: 48px;
}

.carousel {
  ul, li, a, img {
    width: $widthAll;
  }
  a {
    display: block;
  }
}

/*导航栏*/
.nav {
  width: $widthAll;
  overflow: hidden;
  padding-top: 10px;
  border-bottom: 6px solid #dedede;
  ul {
    width: $widthAll;
    li {
      float: left;
      width: 25%;
    }
    a {
      width: $widthAll;
      display: block;
      text-align: center;
      padding-bottom: 10px;
    }
    img {
      width: 40px;
      height: 40px;
    }
    span {
      display: block;
      color: $textColor;
      font-size: 12px;
    }
  }
}

/*掌上秒杀*/
.spike {
  width: $widthAll;
  padding: 8px;
  @include boxSizing();
  overflow: hidden;
}

.spike-top {
  width: $widthAll;
  overflow: hidden;
  padding-bottom: 10px;
  .icon-clock {
    display: block;
    float: left;
    width: 20px;
    height: 30px;
    @include sprite();
    background-position: -83px 97px;
    margin-right: 5px;
  }
  .text-clock{
    float: left;
    color:$primaryColor;
    font-size: $baseFontSize;
    margin-top: 9px;
    margin-right: 5px;
  }
  .time-clock {
    float: left;
    font-size: 0;
    margin-top: 11px;
    span {
      font-size: 13px;
      background-color: $black;
      color: $white;
    }
    span:nth-child(3n){
      background-color: $black;
      color: $white;
      margin: 0 1px;}
    span:nth-child(3n+1){
      padding-left: 2px;
      border-top-left-radius:2px;
      border-bottom-left-radius:2px;
    }
    span:nth-child(3n+2) {
      padding-right: 2px;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
  .spike-more{
    float: right;
    color:$textColor;
    font-size:13px;
    margin-top: 9px;
    margin-right: 5px;
    s{
      float: right;
      display:block;
      width: 20px;
      height: 20px;
      @include sprite();
      background-position: -383px -249px;
    }
  }
}
.spike-bottom{
  width:$widthAll;
  ul{
    width:$widthAll;
  }
  li{
    width:33.33333%;
    float: left;
    padding:10px 10px 0 ;
    @include boxSizing();
  }
  a{
    display: block;
    position: relative;
    width:$widthAll;
  }
  img{
    width:$widthAll;
  }
  b{
    position: absolute;
    right:0;
    bottom:0;
    font-weight:normal;
    font-size:12px;
    background-color: $orange;
    color: $white;
    padding:2px 5px;
    /*圆角属性*/
    @include Radius(50%)
  }
  .price{
    width:$widthAll;
    text-align: center;
    margin-top: 10px;
    span{
      display: block;
      font-size:$baseFontSize - 2;
    }
    .new-price{
      color:$primaryColor;
      font-size:$baseFontSize;
    }
    .old-price{
      color:$textColor;
      text-decoration: line-through;
    }
  }
}

/*优惠券*/
.coupon{
  width:$widthAll;
  overflow: hidden;
  position: relative;
  img{
    width:$widthAll;

  }
  ul{
    width:$widthAll;
    padding:0 5px;
    @include boxSizing();
    position: absolute;
    bottom:10px;
    left:0;
    z-index: $baseZIndex;
    li{
      width:50%;
      float: left;
      a{
        width:$widthAll;
      }
      img{
        width:$widthAll;
        vertical-align: top;
      }
    }
  }
}


/*热卖*/
.hotsale{
  width: $widthAll;
  overflow: hidden;
  ul{
    width: $widthAll;
    .three{
      width: $widthAll;
      a{
        float: left;
        display: block;
        width: $widthAll/3;
      }
      img{
        width:$widthAll;
      }
    }
    .two{
      width:$widthAll;
      a{
        float: left;
        display: block;
        width:$widthAll/2;
      }
      img{
        width:$widthAll;
      }
    }
  }
}




