
//颜色
$bodyColor:#f7f4f1;
$headerColor:#ff9b25;
$white:#ffffff;
$fontColot:#888888;
$fontColor-1: #bdf3ce;
$borderColor:#dedede;
$iconColor:#aeaeae;
$borderColor:#e8e2d9;




//公用宽
$width:100%;
$widthW: (593rem/32);
/*字体*/
$baseFontFamily:PingFangSC-Regular, Helvetica, "Droid Sans", Arial, sans-serif;